<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>私服发布网站系统</title>
<link href="doyo/admin/template/style/admin.css" rel="stylesheet" type="text/css" />
</head>

<frameset rows="75,*,30" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="doyo.php?a=headers" name="top" scrolling="No" noresize="noresize" id="top" />
  <frameset cols="150,*" frameborder="no" border="0" framespacing="0">
    <frame src="doyo.php?a=left" name="left" scrolling="auto" noresize="noresize" id="left" />
    <frame src="doyo.php?a=main" name="main" id="main" />
  </frameset>
  <frame src="doyo.php?a=bottom" name="bottom" scrolling="No" noresize="noresize" id="bottom" />
</frameset>
<noframes><body>
很抱歉，您使用的浏览器不支援框架功能，请升级您的浏览器。
</body>
</noframes></html>
